@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

$font: Roboto, sans-serif;
$font-light: 300;
$font-bold: 500;
$color-white: #FFFFFF;
$main-color: #546E7A;
$hover-color: #455A64;
$nav-text-vcenter: 45px;
$main-width: 65%;
$page-title-color: #80CBC4;

* {
	margin: 0px;
	padding: 0px;
	font-family: $font;
}

.clear {
	clear: both;
}

.pull-right { float: right; }
.pull-left { float: left; }

h1 {
	font-size: 50px;
	font-weight: $font-light;
}

small {
	font-size: 20px;
	font-weight: $font-light;
}

hr {
	border: 0px;
	border-top: 1px dotted #DDD;
}

a {
	color: $main-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(85, 110, 122, 0.75), rgba(0, 0, 0, 0));
	background-image:    -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(85, 110, 122, 0.75), rgba(0, 0, 0, 0));
	background-image:     -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(85, 110, 122, 0.75), rgba(0, 0, 0, 0));
	background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(85, 110, 122, 0.75), rgba(0, 0, 0, 0));
}

.container {
	width: $main-width;
	background: $color-white;
	margin-left: auto;
	margin-right: auto;
}

.navigation {
	width: 100%;
	height: $nav-text-vcenter;
	z-index: 9999;
	background: $main-color;
}

.navigation > .navbar-inner {
	width: $main-width;
	line-height: $nav-text-vcenter;
	margin-left: auto;
	margin-right: auto;
}

.navigation > .navbar-inner > a {
	color: $color-white;
	float: left;
	font-weight: $font-bold;
	margin-right: 15px;
	text-decoration: none;
}

.navigation li {
	cursor: pointer;
	list-style-type: none;
}

.navbar-buttons li {
	width: 80px;
	float: left;
	color: $color-white;
	text-align: center;
	background: $main-color;
}

.navbar-buttons li:hover {
	background: $hover-color;
}

.showcase {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: justified;
}

.showimg {
	width: 165px;
	display: inline-block;
	margin-left: 3%;
	margin-right: 3%;
	vertical-align: top;
}

.showimg img {
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.3);
}

.footer {
	width: $main-width;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.seperator {
	width: $main-width;
	border: 0px;
	border-top: 1px dashed #DDD;
	margin-left: auto;
	margin-right: auto;
}

.page_title {
	width: 100%;
	display: block;
	padding-top: 45px;
	padding-bottom: 10px;
	background: $page-title-color;
}

.page-title-inner {
	width: $main-width;
	margin-left: auto;
	margin-right: auto;
}

.staff {
	color: #FFF;
	font-weight: $font-bold;
}

.page-title-right {
	color: #FFF;
	margin-top: 30px;
	font-size: 18px;
	font-weight: $font-light;
}