@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif; }

.clear {
  clear: both; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

h1 {
  font-size: 50px;
  font-weight: 300; }

small {
  font-size: 20px;
  font-weight: 300; }

hr {
  border: 0px;
  border-top: 1px dotted #DDD; }

a {
  color: #546e7a;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(85, 110, 122, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(85, 110, 122, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(85, 110, 122, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(85, 110, 122, 0.75), transparent); }

.container {
  width: 65%;
  background: white;
  margin-left: auto;
  margin-right: auto; }

.navigation {
  width: 100%;
  height: 45px;
  z-index: 9999;
  background: #546e7a;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); }

.navigation > .navbar-inner {
  width: 65%;
  line-height: 45px;
  margin-left: auto;
  margin-right: auto; }

.navigation > .navbar-inner > a {
  color: white;
  float: left;
  font-weight: 500;
  margin-right: 15px;
  text-decoration: none; }

.navigation li {
  cursor: pointer;
  list-style-type: none; }

.navbar-buttons li {
  width: 80px;
  float: left;
  color: white;
  text-align: center;
  background: #546e7a; }

.navbar-buttons li:hover {
  background: #455a64; }

.showcase {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: justified; }

.showimg {
  width: 165px;
  display: inline-block;
  margin-left: 3%;
  margin-right: 3%;
  vertical-align: top; }

.showimg img {
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.3); }

.footer {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; }

.seperator {
  width: 65%;
  border: 0px;
  border-top: 1px dashed #DDD;
  margin-left: auto;
  margin-right: auto; }

.page_title {
  width: 100%;
  display: block;
  padding-top: 45px;
  padding-bottom: 10px;
  background: #80cbc4; }

.page-title-inner {
  width: 65%;
  margin-left: auto;
  margin-right: auto; }

.staff {
  color: #FFF;
  font-weight: 500; }

.page-title-right {
  color: #FFF;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300; }
